<!-- done -->
<!DOCTYPE html>
<html ng-app='sniphub'>
  <head>
    <meta charset="utf-8" />
    <title>SnipHub</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" rel="stylesheet" href="css/monokai-sublime.css">
    <link type="text/css" rel="stylesheet" href="js/vendor/Materialize/dist/css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div class="navbar-fixed" ng-controller='AuthController'>
      <nav>
        <div class='nav-wrapper'>
          <a ui-sref="snippets" class="brand-logo center">Snip<span class="sub">Hub</span></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a ui-sref='snippets' class='index'>Snippets</a></li>
            <li>
              <div>
                <li ng-model='isHere'></li>
                <li><a ng-show="isAuth" ui-sref='addSnippet' class='create'>Add Snippet</a></li>
                <li><a ng-show="isAuth" href='/auth/logout' class='logout'>Logout</a><li>
                <li><a ng-hide="isAuth" href='/auth/github' class='logout'>Login With Github</a></li>
              </div>
            </li>
          </ul>
          <form>
          </form>
        </div> <!-- nav wrapper -->
      </nav> <!-- nav -->
    </div> <!-- navbar fixed -->

    <!-- <div ui-view='top'></div> -->
    <div ui-view='main'></div>




    <!--Import jQuery before materialize.js-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
    <script type="text/javascript" src="js/vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="js/vendor/Materialize/dist/js/materialize.min.js"></script>
    <script src="js/vendor/angular/angular.js"></script>
    <script src="js/vendor/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="http://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>
    <script src="js/vendor/angular-route/angular-route.js"></script>
    <script src="js/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="js/auth.js"></script>
    <script src="js/app.js"></script>
    <script src="js/addSnippet.js"></script>
    <script src="js/snippetUser.js"></script>
    <script src="js/services.js"></script>
    <script src="js/snippets.js"></script>
  </body>
</html>


<!-- search feature for later
            <div class="input-field col s6">
              <input id="search" type="search" required ng-model="inputEntry">
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div> -->
