body {
  background-color: #49483e;
}
nav {
  background-color: #383830;
}
nav .brand-logo {
  /*margin-left: 20px;*/
  color: #66d9ef;
}
.sub {
  color: #a6e22e;
}
nav form {
  /*margin-left: 180px;*/
  width: 300px;
}
.hljs {
  max-height: 120px;
}
