<div ng-controller='AddSnippetController' id='container'>
  <div class="row">
    <form class="col s12" ng-submit='postSnippet(userField, inputEntry, titleField , tabField, scope)'name ="AddSnippetForm">
      <div class="row">
        <div class="input-field col s12">
          <input required type="text" class="validate text" type="text" name="text" ng-model='titleField'>
          <label for="last_name">Title</label>
        </div>
        <div class="input-field col s6">
          <select>
            <option value="" disabled selected>Scope</option>
            <option value="ActionScript">ActionScript</option>
            <option value="AppleScript">AppleScript</option>
            <option value="ASP">ASP</option>
            <option value="Batch FIle">Batch FIle</option>
            <option value="C#">C#</option>
            <option value="C++">C++</option>
            <option value="Clojure">Clojure</option>
            <option value="CoffeeScript">CoffeeScript</option>
            <option value="CSS">CSS</option>
            <option value="D">D</option>
            <option value="Diff">Diff</option>
            <option value="Erlang">Erlang</option>
            <option value="Go">Go</option>
            <option value="GraphViz">GraphViz</option>
            <option value="Groovy">Groovy</option>
            <option value="Haskell">Haskell</option>
            <option value="HTML">HTML</option>
            <option value="JSP">JSP</option>
            <option value="Java">Java</option>
            <option value="Java Properties">Java Properties</option>
            <option value="Java Doc">Java Doc</option>
            <option value="JSON">JSON</option>
            <option value="Javascript">Javascript</option>
            <option value="BibTex">BibTex</option>
            <option value="Latex Log">Latex Log</option>
            <option value="Latex Memoir">Latex Memoir</option>
            <option value="Latex">Latex</option>
            <option value="LESS">LESS</option>
            <option value="TeX">TeX</option>
            <option value="Lisp">Lisp</option>
            <option value="Lua">Lua</option>
            <option value="MakeFile">MakeFile</option>
            <option value="Markdown">Markdown</option>
            <option value="Multi Markdown">Multi Markdown</option>
            <option value="Matlab">Matlab</option>
            <option value="Objective-C">Objective-C</option>
            <option value="Objective-C++">Objective-C++</option>
            <option value="OCaml campl4">OCaml campl4</option>
            <option value="OCaml">OCaml</option>
            <option value="OCamllex">OCamllex</option>
            <option value="Perl">Perl</option>
            <option value="PHP">PHP</option>
            <option value="Regular Expression(python)">Regular Expression(python)</option>
            <option value="Python">Python</option>
            <option value="R Console">R Console</option>
            <option value="R">R</option>
            <option value="Ruby on Rails">Ruby on Rails</option>
            <option value="Ruby HAML">Ruby HAML</option>
            <option value="SQL(Ruby)">SQL(Ruby)</option>
            <option value="Regular Expression">Regular Expression</option>
            <option value="RestructuredText">RestructuredText</option>
            <option value="Ruby">Ruby</option>
            <option value="SASS">SASS</option>
            <option value="Scala">Scala</option>
            <option value="Shell Script">Shell Script</option>
            <option value="SQL">SQL</option>
            <option value="Stylus">Stylus</option>
            <option value="TCL">TCL</option>
            <option value="HTML(TCL)">HTML(TCL)</option>
            <option value="Plain text">Plain text</option>
            <option value="Textile">Textile</option>
            <option value="XML">XML</option>
            <option value="XSL">XSL</option>
            <option value="YAML">YAML</option>
          



        </div>
        <div class="input-field col s6">
          <input required type="text" class="validate text" type="text" name="text" ng-model='tabField'>
          <label for="last_name">Tab Prefix</label>
        </div>
        <div class="input-field col s12">

          <textarea required id="textarea1" class="materialize-textarea text" name="text" ng-model='inputEntry'>
          </textarea>

          <label for="textarea1">Snippet</label>
        </div>
        <button class="btn waves-effect waves-light orange grey-text text-darken-4" type="submit" name="action">Add Snippet
        <i class="material-icons right"></i>
        </button>
      </div>
    </form>
  </div>
</div>
