<div ng-controller='AddSnippetController' id='container'>
  <form ng-submit='postSnippet(userField, inputEntry, titleField , tabField, scope)'name ="AddSnippetForm">
    <!-- text -->
    <textarea required class="text" rows="10" cols="50" name="text" ng-model='inputEntry' placeholder="Enter your Snippet"> </textarea>
    <input required class="text" type="text" name="text" ng-model='userField' placeholder="Enter your Username"/>
    <input required class="text" type="text" name="text" ng-model='titleField' placeholder="Enter a Title for your Snippet"/>
    <input required class="text" type="text" name="text" ng-model='tabField' placeholder="Enter a Tab Prefix for your Snippet"/>
    <input required class="text" type="text" name="text" ng-model='scope' placeholder="Enter your scope"/>
    <!-- user can add multiple tags and they show up under text box-->
    <input type='submit' value="Add Snippet" ></input>
  </form>
</div>

<!--

can use for error messages later:

  <div ng-show="shortenForm.url.$error.required">Please enter a thing</div>
  <div ng-show="shortenForm.url.$error.url">Not a valid thing</div>
ng-class="{ 'error' : AddSnippetForm.text.$error.required || !AddSnippetForm.url.$valid }"
ng-disabled="shortenForm.input.$error.url || shortenForm.input.$error.required"
ng-class="{ 'error' : shortenForm.url.$error.required || !shortenForm.url.$valid }"
 -->
