<!-- done -->

  <div class="navbar-fixed">
    <nav>
      <div class='nav-wrapper'>

        <a ui-sref="snippets" class="brand-logo center">SnipHub</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a ui-sref='snippets' class='index'>Snippets</a></li>
          <li><a ui-sref='addSnippet' class='create'>Add Snippet</a></li>
          <li><div ng-controller='AuthController'>
          <a ng-click="signout()" ui-sref='signin' class='logout'>Logout</a></li>
        </ul>
        <form>
          <div class="input-field col s6">
            <input id="search" type="search" required ng-model="inputEntry">
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div> <!-- nav wrapper -->
    </nav> <!-- nav -->
  </div> <!-- navbar fixed -->


