<!-- kinda done -->

<div ng-controller="SnippetsController as Snippets" id='container' >
    <input ng-model="inputEntry"/>
    <button ng-click="searchByTerm(inputEntry)">Search</button>
    <div ng-repeat="snippet in snippets" class="snippet">
        <!-- edit this stuff -->
        <div class='info'>
        <div class='forks'><span class='count'>{{snippet.forks}}</span>Forks</div>
        <div class='title'>{{snippet.title}}</div>
        <div class='text'>{{snippet.text}}</div>
    </div>
</div>

<!-- we are not goint to use angular filter here, we are jsut going to use db search -->
